{% extends "base.html" %}

{% block content %}

<h1>{{ recipe.name }}</h1>
<p>Categorie I: {{ recipe.categorie }}</p>
<p>Categorie II: {{ recipe.categorieII }}</p>
<p>Preparation Time: {{ recipe.prep_time }}</p>
<p>Cook Time: {{ recipe.cook_time }}</p>
<p>Video Link: {{ recipe.video_link }}</p>
<p>Orignial Link: {{ recipe.origin_link }}</p>
<p>Direction: {{ recipe.direction }}</p>
<p>Created by: {{ recipe.user }}</p>
<p>Published: {{ recipe.pub_date|date }}</p>
<p>Date: {{ now|date }}</p>

<p>Rate: {{ recipe.status.total_rating }}</p>
<p>Total Viewing: {{ recipe.status.total_viewing }}</p>

<h2>Ingredients</h2>
{% if ingredients %}
    <ul>
    {% for item in ingredients %}
        <li> {{ item.name }} : {{ item.amount }} {{ item.unit }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No ingredients are available.</p>
{% endif %}

<h2>Comments</h2>
{% if comments %}
    <ul>
    {% for item in comments %}
        <li> {{ item.user.username }} : {{ item.content }} | publish date: {{ item.pub_date }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No comments are available.</p>
{% endif %}

<hr/>

{% if user.is_authenticated %}
    <h3>Please make comment</h3>
    <form id="comment" action="{{ request.get_full_path }}" method="post" accept-charset="utf-8">
    <input class="content" id="searchbox" name="content" type="text" placeholder="Type your comment">
    <button class="comment-button" type="submit">
      <i>comment</i>
    </button>
    </form>
{% else %}
{% endif %}
<hr/>

{% if user.is_authenticated %}
<!if user much>
    <a href="{% url 'recipe:update' recipe.id %}" class="btn btn-primary">Edit Recipe</a>
{% else %}
{% endif %}

{% endblock %}
